services:
  postgres:
    image: ghcr.io/pgmq/pg18-pgmq:v1.10.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
